.App {
  text-align: center;
}

.App-header {
  background-color: #cecece;
  min-height: 10%;
  color: white;
  padding: 50px;
}

.App-header div {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-right: 10px;
}

.SearchForm {
  max-height: 40px;
}

.SearchForm label {
  padding-left: 20px;
}

.SearchTextInput div {
  height: 40px;
  padding-left: 10px;
}

.SearchUserInput {
  min-width: 15rem;
  height: 40px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.SearchCompleteInput {
  padding-left: 20px;
}