.App {
  text-align: center;
}

.App-header {
  background-color: #cecece;
  min-height: 10%;
  color: white;
  padding: 20px;
}

.App-header div {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-right: 10px;
}

.App-header div #sel_User {
  min-width: 150px;
}

.App-link {
  color: #61dafb;
}
