@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.App {
  text-align: center;
}

.App header {
  background-color: #1976d2;
  width: 900px;
  margin: auto;
  display: inline-block;
}

.App header h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.DataGridDiv {
  margin: auto;
  width: 900px;
  height: 600px;
}

.AddTodoToolBar {
  padding-top: 25px;
}

.QuickSearchToolbar {
  width: 100%;
}

.QuickSearchToolbar p {
  padding-left: 20%;
  float: right;
  color: rgb(158, 158, 158);
  font-weight: lighter;
  font-style: italic;
  font-size: small;
}